<template>
    <div>
        页面内容区域 {{componentName}}
    </div>
</template>

<script>
export default {
    name: '{{ dotCase componentName }}',
    data() {
        return {

        };
    },
    mounted() {
        // todo
    },
    methods: {}
};
</script>

<style lang="less" scoped>
</style>
